@charset "UTF-8";

* {
	background-color: gray;
	font-family: monospace;
}

body {
	width: 80%;
	margin: 5% 10%;
	padding: 0;
	color: #BBB;
}

textarea {
	height: 7em;
	width: 100%;
	margin: 1em 0 .5em;
	padding: 1em;
	box-sizing: border-box;
	border: none;
	border-radius: .5em .5em 0 .5em;
	background-color: #777;
	color: #BBB;
	box-shadow: inset -.125em .125em 2em 0 rgba(0,0,0,.125);
}

a {
	font-weight: 900;
	cursor: pointer;
}
a:hover  { text-shadow: 0 0 1em #FFF, 0 0 .5em #FFF; }
a:active { text-shadow: 0 0 1em #FFF, 0 0 .5em #FFF, 0 0 .25em #FFF; }

#title {
	float: right;
	font-size: 2em;
	font-weight: 900;
	color: #707070;
}

#algorithm-list {
	margin: 1em 2em 0;
}

#sha1 { color: #600; }
#sha2 { color: #006; }
#sha3 { color: #060; }
